.priority-top {
  color: #e54343;
}

.priority-2nd {
  color: #e8912f;
}

.priority-3rd {
  color: #f5da2c;
}

.priority-4th {
  color: #268226;
}

.priority-low {
  color: #2088cd;
}

.img-placeholder {
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('~assets/images/placeholder.gif');
}

.details-header,
.p-dialog-footer button {
  margin-bottom: 8px;
}

@media screen and (min-width: 769px) {
  .details-header,
  .p-dialog-footer button {
    margin-bottom: 0;
  }
}
