.footer {
  background-color: #4a4a4a;
  color: #f0f2f5;
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
}

.footer strong {
  color: #f0f2f5;
}

.footer p {
  font-size: 11px;
  line-height: 20px;
}

@media screen and (min-width: 769px) {
  .footer p {
    font-size: 14px;
  }
}
