@import "~normalize.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~bulma/css/bulma.min.css";
@import "~github-markdown-css/github-markdown.css";

/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('./assets/fonts/open-sans-v17-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./assets/fonts/open-sans-v17-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('./assets/fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./assets/fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('./assets/fonts/open-sans-v17-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./assets/fonts/open-sans-v17-latin_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('./assets/fonts/open-sans-v17-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./assets/fonts/open-sans-v17-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
  url('./assets/fonts/open-sans-v17-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./assets/fonts/open-sans-v17-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 14px;
}

body {
  font-family: 'Open Sans',BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: auto;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}

[hidden] {
  display: none !important;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

.hero.fullheight {
  min-height: calc(100vh - 55px);
}

.hero.fullheight-with-navbar {
  min-height: calc(100vh - 46px - 55px);
}

.main-bg {
  background-color: #EDEEF0;
}

.p-button.p-button-icon-only {
  height: 26px;
  width: 26px;
  font-size: .8rem;
  padding: 5px 0;
}

.p-button.p-button-icon-only .pi {
  font-size: .77rem;
}

.p-paginator .p-paginator-pages .p-paginator-page,
.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  min-width: 2rem;
  height: 2rem;
}

.p-paginator .p-dropdown .p-dropdown-label {
  line-height: 1.25;
}

.button {
  height: initial;
  padding: .5rem 1rem;
  line-height: 1.15;
}

.button.is-success.is-focused:not(:active),
.button.is-success:focus:not(:active) {
  box-shadow: 0 0 0 0.2rem rgba(72,199,116,.25);
}

.button.is-small {
  border-radius: 3px;
}

.label {
  font-weight: 600;
}

.tagged-cell {
  padding: 6px 7px !important;
}

.button-cell {
  text-align: center !important;
  padding: 4px 7px !important;
}

.border-rounded {
  border-radius: 3px;
}

:root {
  --font-family:'Open Sans',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.p-component,
.p-link,
.p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container .p-autocomplete-input-token input,
.p-chips .p-chips-multiple-container .p-chips-input-token input,
.p-inputtext,
.p-terminal .p-terminal-input {
  font-family:'Open Sans',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.slim-dropdown.p-dropdown {
  height: 26px;
}

.slim-dropdown.p-dropdown .p-dropdown-label {
  padding: 2px;
}

.container.is-fluid {
  max-width: none;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.details-modal {
  width: 90%;
}

@media screen and (max-width: 768px) {
  .no-label-mobile .p-button-label {
    display: none;
  }

  .no-label-mobile .p-button-icon {
    margin: 0 !important;
  }

  .is-fullwidth-mobile {
    width: 100% !important;
  }
}

@media screen and (min-width: 514px) {
  .hero.fullheight {
    min-height: calc(100vh - 35px);
  }

  .hero.fullheight-with-navbar {
    min-height: calc(100vh - 46px - 35px);
  }

  .container.is-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 769px) {
  .container.is-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }

  .details-modal {
    width: 70%;
  }
}
